*
!.gitignore

#allow whitelisting within config folder
!.config
.config/*

#hyprland conf
!.config/hypr
.config/hypr/*
!.config/hypr/hyprland.conf

#kitty conf
!.config/kitty
.config/kitty/*
!.config/kitty/kitty.conf

#spicetify conf
!.config/spicetify
.config/spicetify/*
!.config/spicetify/config-xpui.ini

#wallpapers
!wallpapers
!wallpapers/with_watermarks
!wallpapers/nuked_watermarks
!wallpapers/with_watermarks/*
!wallpapers/nuked_watermarks/*

#additional configs that dont go in home directory
!additional_configs
!additional_configs/*
